<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abarajithan.rxpermissions">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
        <activity android:name=".TestActivity" />
    </application>
</manifest>
